.tab
{
   margin: 0  30px;  
}
p{
    text-align: right;
}
thead{
    font-size: 15px;
    font-weight: bold;
}
.left{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 30px;
}
.resuleName{
    font-size: 20px;
    font-weight: 500;
}
.echart_c{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.table_c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}