.tab
{
   margin: 0  30px;  
}
p{
    text-align: right;
}
thead{
    font-size: 15px;
    font-weight: bold;
}
.left{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 30px;
}
.resuleName{
    font-size: 18px;
    font-weight: 500;
}